In [1]:
from functools import partial

from intransparent import (
    ingest_reports_per_country,
    without_populations,

    REPORTS_PER_PLATFORM,
    ingest_reports_per_platform,
    compare_all_platform_reports,

    show_html,
    show_info,
    show_table,
)

show_html(h1='CSAM Reports per Country', h2='Prelude')

logger = partial(show_info, invocation='logger(')
tables = ingest_reports_per_country('./data', logger=logger)

countries_without, reports_without = (
    without_populations(tables.reports, tables.populations))
show_html(
    f'{countries_without.shape[0]} countries with reports have no population '
    'statistics. They also account for very few reports.')
show_table(reports_without)

In [2]:
show_html(
    h2='Regions with Most CSAM Reports', 
    p='Selection does <em>not</em> take population counts into consideration.')

show_table(
    tables.reports_per_country
    .groupby('region')
    .sum(numeric_only=True)
    .sort_values(by='reports', ascending=False)
    .reset_index()
    .head(20),
    highlight='reports',
)

In [3]:
show_html(h2='Countries with Most CSAM Reports Per Capita')

per_capita = (
    tables.reports_per_country
    .sort_values(by='reports_per_capita', ascending=False)
    .groupby('year') 
)

for year, group in per_capita:
    group = group.head(20).reset_index()
    show_table(
        group,
        table_name=f'reports per capita {year}',
        highlight='reports_per_capita',
    )

In [4]:
show_html(h2='CSAM Reports per Social Media Platform')

disclosures = ingest_reports_per_platform(
    REPORTS_PER_PLATFORM, include_redundant=True)
comparisons = compare_all_platform_reports(disclosures)
for platform, data in comparisons.items():
    show_table(data, table_name=platform)