In [3]:
import sys
sys.path.insert(0, '..')

from functools import partial
import pandas as pd
import intransparent as it

it.show(f'<h1>CSAM Reports per Country</h1>')
it.show(f'<h2>Data Schemas</h2>')

logger = partial(it.show, show_schema=True, margin_bottom=2)
country_data = it.ingest_reports_per_country('../data', logger=logger)

it.show(f'<h2>Missing Population Data</h2>')
countries_without, reports_without = it.without_populations(
    country_data.reports, country_data.populations, country_data.countries
)
it.show(
    f'{countries_without.shape[0]} countries have reports but not population '
    'statistics. They also account for very few reports:'
)
it.show(reports_without, caption='Reports for Countries<br>w/o Population Stats')
it.show('The countries are:')
it.show(countries_without, caption='Countries without Population Data in UN Dataset')