In [1]:
import sys
sys.path.insert(0, '..')

from intransparent import (
    ingest_reports_per_platform,
    compare_all_platform_reports,
    REPORTS_PER_PLATFORM,
    reshape_reports_per_platform,
    show,
    YEAR_LABELS,
)

disclosures = ingest_reports_per_platform(
    REPORTS_PER_PLATFORM, include_redundant=True
)
comparisons = compare_all_platform_reports(disclosures)

show('<h1>CSAM Reports per Platform</h1>')
show(f'<h2>Ranking of Social Media Firms</h2>')

reshaped = reshape_reports_per_platform(disclosures)
for year in YEAR_LABELS:
    yearly = reshaped.query(f'year == {year}').copy()
    total = yearly.at['Total', 'reports']
    yearly['reports_pct'] = yearly['reports'] / total * 100
    show(
        yearly.drop(columns='year'),
        caption=f'Social Media by Reports Filed in {year}',
    )

In [2]:
show('<h2>Transparency Data Quality per Social Medium</h2>')
show(
    f"""
    Out of {len(disclosures) - 2} social media firms and brands, only
    {len(comparisons)} disclose the number of CSAM reports made to NCMEC.
    """
)

for platform, data in comparisons.items():
    show(data, caption=platform)