In [5]:
import sys
sys.path.insert(0, '..')

import pandas as pd
import diaphanous as dia

df = (
    pd.read_csv('../data/ojjdp-qa02403-2019.csv')
    .melt(
        id_vars=["Victim's age", "Relationship to victim"],
        value_vars=["Under 12", "12 to 17", "18 to 24", "25 to 34", "35 & older"],
        var_name="Offender's age",
    )
    .groupby("Relationship to victim")
    .sum(numeric_only=True)
    .sort_values("value", ascending=False)
)
total = df["value"].sum()
df["%"] = df["value"] / total * 100
dia.show(df, caption="Relationship to Victim (OJJDP Stats, 2019)")

In [17]:

df = (
    pd.read_csv('../data/learcat-relationship-2016.csv')
    .set_index("relationship")
    .sum(axis=1)
    .to_frame()
    .rename(columns={0: "value"})
)
total = df["value"].sum()
df["%"] = df["value"] / total * 100
dia.show(df, caption="Relationship to Victim (LEARCAT, 2016)")
dia.show(
"""
    Unfortunately, this particular classification of victim-offender
    relationships is not very helpful.
""")