In [1]:
import sys
sys.path.insert(0, '..')

import pandas as pd
import intransparent as it

MONTH_RANGES = ['Jan-Mar', 'Apr-Jun', 'Jul-Sep', 'Oct-Dec']

COLUMNS = [
    'Metric',
    'Period Type',
    'Period',
    'Policy Type',
    'Issue Policy',
    'Task Type',
    'Task',
    'Location',
    'Market',
]

START = pd.Period('2022Q4')
STOP = pd.Period('2023Q4')


it.show('<h1>TikTok</h1>')

differences = []
period1 = START
data1 = None

while period1 < STOP:
    period2 = period1 + 1

    it.show(f'<h2>{period1} to {period2}</h2>')

    if data1 is None:
        data1 = pd.read_csv(
            f'../data/tiktok/tiktok-{period1.year}-q{period1.quarter}.csv',
            thousands=',',
        )
    data2 = pd.read_csv(
        f'../data/tiktok/tiktok-{period2.year}-q{period2.quarter}.csv',
        thousands=',',
    )

    latest = f'{MONTH_RANGES[period2.quarter - 1]} {period2.year}'
    old_data2 = data2[data2['Period'] != latest]

    it.show(pd.DataFrame({
        'dataset': [str(period1), str(period2), str(period2) + ' w/o new'],
        'rows': [len(data1), len(data2), len(old_data2)],
    }))

    difference = (
        pd.concat([data1, old_data2])
        .sort_values(by=COLUMNS)
        .drop_duplicates(keep=False)
    )

    if len(difference) == 0:
        it.show('✅ No differences in historical data!')
    else:
        it.show(f'❌ Sadly, historical data diverges across {len(difference)} rows.')
        differences.append(difference)

    period1 = period2
    data1 = data2

SHOW_DIFFERENCES = False

if SHOW_DIFFERENCES and differences:
    for difference in differences:
        it.show(difference)

In [2]:
from intransparent.tiktok import Processor

it.show("<h2>A Closer Look at Q4 2023</h2>")

stats = Processor.for_period("2023q4").quarter_only().stats()
it.show(stats)

it.show(
    """
    Yet according to NCMEC, TikTok submitted only 590,376 CyberTipline reports
    for all of 2023.
    """
)