In [1]:
import sys
sys.path.insert(0, '..')

import pandas as pd
import intransparent as it
from intransparent.country import read_reports

it.show("<h1>The United States</h1>")

reports = read_reports('../data/ocse-reports-per-country.csv')

it.show(reports.loc["USA"], caption="CyberTipline reports about incidents in US")

In [2]:
df = pd.read_csv(
    "../data/ocse-reports-by-state.csv",
    thousands=",",
    # Otherwise, year is shown with thousands separator.
    dtype={"year": "period[A-DEC]"},
)

df = df[df["state"].str.len() == 2]
df["reports_per_capita"] = df["reports"] / df["population"]

df = df.sort_values(by="reports_per_capita", ascending=False).reset_index(drop=True)
df.index.name = "rank"
df.index += 1

it.show('<h2>Reports by US States</h2>')

max_reports = df.at[1, "reports_per_capita"]
max_state = df.at[1, "state"]
min_reports = df.at[50, "reports_per_capita"]
min_state = df.at[50, "state"]

it.show(
    f"""
    Reports per capita range from
    <strong>{min_reports:.5f}</strong> in <strong>{min_state}</strong>
    up to
    <strong>{max_reports:.5f}</strong> in <strong>{max_state}</strong>.
    """
)

it.show(df, caption="US States Ranked by Reports Per Capita", margin_top=2)